.square {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #999;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    background: #f0f0f0;
}